{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <h2>Get stock quote</h2>

    <div class="container mt-4">
        <form action="/quote" method="post">
            <div class="mb-3 mt-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol (E.g., AAPL)" type="text" required>
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    </div>

{% endblock %}
